@import "../../styles/variables";

.root {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5%;
  color: $color-black;
  h2 {
    font-size: calc(#{$size}* 1.4);
    font-weight: 400;
    margin: 1% 0%;
  }
  p {
    font-size: calc(#{$size}/ 1.3);
    margin: 1% 0%;
  }
  .cards_block {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1%;
    flex-wrap: wrap;
    margin-top: 2%;
    row-gap: 15px;
    .service_block {
      width: 32%;
      flex: 0 0 32%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .card {
        display: grid;
        place-items: center;
        background-color: $color-blur-light;
        border-radius: 20px;
        padding: 5% 0%;
        width: 100%;
        // height: 100%;
        img {
          height: auto;
          width: 38%;
          margin-bottom: 7%;
        }
        h2 {
          font-size: calc(#{$size}* 1.1);
          font-weight: 700;
        }
        p {
          font-size: calc(#{$size}/ 1.4);
          text-align: center;
          max-width: 90%;
        }
        .more_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 3%;
          cursor: pointer;
          font-size: calc(#{$size}/ 1.6);
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .serv_list {
        width: 90%;
        margin: 4% 0%;
        display: none;
        .list_item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $color-black;
          text-decoration: none;
          gap: 2%;
          transition: all 0.3s;
          &:hover {
            color: $color-dark-blue;
            opacity: 0.9;
          }
          p {
            font-size: calc(#{$size}/ 1.4);
            margin: 1% 0%;
          }
        }
      }
      .show_list {
        display: block;
      }
    }
  }
}

.loader {
  width: 32%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .root {
    .cards_block {
      .service_block {
        flex: 0 0 49%;
      }
    }
  }
  .loader {
    width: 49%;
  }
}
@media screen and (max-width: 650px) {
  .root {
    width: 95%;
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 15px;
      text-align: center;
      margin-bottom: 2%;
    }
    .cards_block {
      .service_block {
        flex: 0 0 100%;
        .serv_list {
          .list_item {
            p {
              font-size: 15px;
              text-align: start;
            }
          }
        }
        .card {
          img {
            width: 35%;
          }
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 15px;
          }
          .more_btn {
            font-size: 15px;
          }
        }
      }
    }
  }
  .loader {
    width: 100%;
  }
}
