@import "../../styles/variables";

.root {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3%;
  margin-top: 1%;
  .doctor_list {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2%;
    row-gap: 25px;
    flex-wrap: wrap;
  }
}
.item_root {
  width: 32%;
  display: grid;
  place-items: center;
  background-color: $color-blur-light;
  border-radius: 20px;
  padding: 2% 0% !important;
  padding-bottom: 1% !important;
  color: $color-black;
  position: relative;
  .admin_controls {
    position: absolute;
    right: 2%;
    top: -1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    svg {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: $color-dark-blue;
      }
      &:last-child {
        &:hover {
          color: red;
        }
      }
    }
  }
  .image {
    width: 85%;
    height: 500px;
    background-size: cover;
  }
  .text_block {
    display: grid;
    place-items: center;
    width: 85%;
    h2 {
      font-size: calc(#{$size});
      text-align: center;
      margin-top: 3% !important;
      margin-bottom: 2% !important;
      font-weight: 600 !important;
    }
    p {
      text-align: center;
      font-size: calc(#{$size}/ 1.5);
      margin: 0;
    }
  }
}
.loader {
  width: 32%;
  height: 100%;
}
.full_loader {
  width: 100% !important;
}
.full_width {
  width: 100% !important;
  padding: 3% 0% !important;
}

.admin_item {
  width: 23%;
}

@media screen and (min-width: 1550px) {
  .item_root {
    .image {
      height: 600px;
    }
  }
}
@media screen and (max-width: 1250px) {
  .item_root {
    .image {
      height: 400px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .item_root {
    .image {
      height: 300px;
    }
  }
}
@media screen and (max-width: 800px) {
  .item_root {
    width: 49%;
    .image {
      height: 350px;
    }
  }
  .loader {
    width: 49%;
  }
}
@media screen and (max-width: 650px) {
  .root {
    width: 95%;
    .doctor_list {
      row-gap: 15px;
    }
  }
  .item_root {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    .image {
      height: 550px;
    }
    .text_block {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .loader {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .item_root {
    .image {
      height: 450px;
    }
  }
}
