@font-face {
  font-family: Fixel;
  src: url(./FixelDisplay-Regular.otf);
}
@font-face {
  font-family: Fixel-Bold;
  src: url(./FixelDisplay-Black.otf);
}

@font-face {
  font-family: Fixel-Thin;
  src: url(./FixelDisplay-Thin.otf);
}
