@import "./font.scss";
@import "./variables";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Fixel";
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $color-blue;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
#galery-slider {
  .splide__pagination {
    top: 102%;
    button {
      background-color: transparent;
      border: 1px solid #000;
      border-radius: 50px;
      width: 10px;
      height: 10px;
    }
  }
  .splide__pagination__page.is-active {
    background-color: $color-dark-blue !important;
    border: 1px solid $color-dark-blue !important;
    transform: scale(1);
  }
  .splide__arrow {
    background-color: transparent;
    height: 4em;
    width: 4em;
    svg {
      fill: $color-dark-blue !important;
      height: 7em !important;
      width: 7em !important;
    }
  }
  .splide__arrow--next {
    right: 0em;
  }
  .splide__arrow--prev {
    left: 0em;
  }
}
#doctors-slider {
  .splide__pagination {
    top: 102%;
    button {
      background-color: transparent;
      border: 1px solid #000;
      border-radius: 50px;
      width: 10px;
      height: 10px;
    }
  }
  .splide__pagination__page.is-active {
    background-color: $color-dark-blue !important;
    border: 1px solid $color-dark-blue !important;
    transform: scale(1);
  }
  .splide__arrow {
    background-color: transparent;
    height: 4em;
    width: 4em;
    svg {
      fill: $color-dark-blue !important;
      height: 7em !important;
      width: 7em !important;
    }
  }
  .splide__arrow--next {
    right: 0em;
  }
  .splide__arrow--prev {
    left: 0em;
  }
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #fff;
}
.loader img {
  width: 20%;
  height: auto;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.loaded_hiding .loader {
  transition: 0.3s opacity;
  opacity: 0;
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1);
  }
}
.loaded .loader {
  display: none;
}
.text {
  font-size: calc(#{$size}* 1.2);
  text-align: center;
}
@media screen and (max-width: 650px) {
  .loader img {
    width: 30%;
  }
  .text {
    font-size: 20px;
    text-align: center;
  }
}
