@import "../../styles/variables";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 0%;
  color: $color-black;
  padding-bottom: 2%;
  .image_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
    img {
      width: 48%;
      height: auto;
    }
    .text_block {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        margin: 0;
        color: $color-black;
        font-size: calc(#{$size}* 1.5);
        font-weight: 400;
        width: 100%;
        text-align: start;
        margin-bottom: 2%;
      }
      p {
        margin: 0;
        font-size: calc(#{$size}/ 1.4);
        margin-bottom: 2%;
      }
      .highlite_p {
        color: $color-dark-blue;
      }
      .icons_block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3%;
        h2 {
          text-align: center;
        }
        .icons_row {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1%;
          .icons_item {
            width: 15%;
            display: grid;
            place-items: center;
            img {
              height: auto;
              width: 70%;
            }
            p {
              margin-top: 15px;
            }
          }
        }
      }
      button {
        font-size: calc(#{$size}/ 1.2);
        background-color: $color-blue;
        color: #fff;
        padding: 5% 0%;
        margin-top: 5%;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $color-blue;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $color-dark-blue;
          border-color: $color-dark-blue;
        }
      }
    }
  }
  .bottom_block {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-top: 3%;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      flex-direction: column;
      p {
        margin-top: 0;
        font-size: calc(#{$size}/ 1.4);
      }
      &:first-child {
        width: 50%;
      }
      h2 {
        color: $color-dark-blue;
        font-weight: 600;
        font-size: calc(#{$size}* 1.2);
        margin: 0;
        margin-bottom: 3%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .root {
    .image_block {
      flex-direction: column;
      width: 100%;
      margin-bottom: 3%;
      justify-content: center;
      align-items: center;
      .text_block {
        width: 95%;
        margin-top: 5%;
        .icons_block {
          .icons_row {
            .icons_item {
              width: 25%;
              img {
                width: 50%;
              }
            }
          }
        }
        .highlite_p {
          text-align: center;
        }
      }
      img {
        width: 95%;
        margin-left: -5%;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    .image_block {
      .text_block {
        .icons_block {
          .icons_item {
            img {
              width: 100%;
            }
          }
        }
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 15px;
          text-align: justify;
        }
        button {
          font-size: 15px;
          border-radius: 10px;
        }
      }
    }
    .bottom_block {
      width: 95%;
      flex-direction: column;
      div {
        width: 100% !important;
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 15px;
          text-align: justify;
        }
      }
    }
  }
}
