@import "../../styles/variables";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1% 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1001;
  .wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      width: 13%;
      img {
        width: 100%;
        height: auto;
      }
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    nav {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-between;
      gap: 3%;
      a {
        color: $color-black;
        width: auto;
        text-decoration: none;
        font-size: calc(#{$size}/ 1.4);
        transition: all 0.3s;
        &:hover {
          color: $color-blue;
        }
      }
      img {
        width: 10%;
        height: auto;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .hamburger_icon {
      display: none;
      cursor: pointer;
      color: $color-dark-blue;
      transition: all 0.3s;
      &:hover {
        color: $color-blue;
      }
    }
    .phone_mobile {
      display: none;
      width: 10%;
      height: auto;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    .mobile_div {
      display: none;
      align-items: center;
      justify-content: flex-end;
      gap: 5%;
      width: 75%;
    }
  }
}

@media screen and (max-width: 900px) {
  .root {
    .wrapper {
      nav {
        width: 60%;
      }
      a {
        width: 16%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .root {
    padding: 2% 0%;
    .wrapper {
      nav {
        display: none;
      }
      .hamburger_icon {
        display: block;
      }
      .phone_mobile {
        display: block;
      }
      a {
        width: 20%;
      }
      .mobile_div {
        display: flex;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .root {
    padding: 3.5% 0%;
    .wrapper {
      .phone_mobile {
        width: 14%;
      }
      a {
        width: 30%;
      }
    }
  }
}
